<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nauk.moodl">

    <uses-feature android:name="android.hardware.fingerprint"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_moodl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_moodl_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nauk.moodl.Activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nauk.moodl.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nauk.moodl.Activities.CurrencySelectionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nauk.moodl.Activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.nauk.moodl.Activities.RecordTransactionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nauk.moodl.Activities.HomeActivity"/>
        </activity>
        <activity
            android:name="com.nauk.moodl.Activities.CurrencyDetailsActivity"
            android:label="@string/title_activity_currency_details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nauk.moodl.Activities.HomeActivity"/>
        </activity>
    </application>

</manifest>